/*
 *
 * Home Page
 *
*/

/* main color: rgb(235, 249, 255) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', "Helvetica Neue", "Segoe UI",
        Helvetica, Verdana, Arial, sans-serif;
    color: #435472;
}

html {
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 600;
}

.hidden {
    display: none;
}

.container {
    max-width: 570px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

nav .container, footer .container {
    max-width: 570px;
    padding-right: 15px;
    padding-left: 15px;
}

.wrap-out {
    position: relative;
}

.wrap-out::before {
    content: '';
    position: absolute;
    right: 5px;
    top: 5px;
    left: -6px;
    bottom: -6px;
    background: rgb(235, 249, 255);
    z-index: 1;
}

.wrap-in {
    border: 2px solid rgb(211, 210, 210);
    position: relative;
    z-index: 2;
}

.thick-border {
    border-right: 10px solid rgb(211, 210, 210);
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }

/* fix footer to bottom */
nav {
    margin-bottom: calc(100vh - 158px);
}

#app-container > section {
    border: 1px solid transparent;
    min-height: calc(100vh - 158px);
    margin-top: calc(158px - 100vh);
}


/* loading icon styling */
/* .loading-icon {
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
}

.loading-icon .wrap-in {
    border: 0;
}

.loading-icon img {
    width: 70px;
} */

.network-error {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding: 8px;
    z-index: 2;
    text-align: center;
    color: white;
    background-color: #d45c51;
}

.no-match {
    text-align: center;
}


/*
 * Navigation
*/

nav .wrap-in {
    border-width: 0;
    border-bottom: 1px solid rgb(211, 210, 210);
}

nav .container {
    position: relative;
    height: 50px;
}

nav .content-skip {
    position: absolute;
    z-index: 5;
    border: 1px solid rgb(211, 210, 210);
    background: whitesmoke;
    color: #435472;
    padding: 7px;
    top: -36px;
    cursor: pointer;
}

nav .content-skip:focus {
    top: 0;
}

nav .logo {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

/* logo */
nav .logo a {
    display: block;
    padding: 8px;
}

nav .logo img {
    display: block;
}

nav .logo a:hover,
nav .logo a.focus-visible:focus {
    outline-width: 0px;
    background: white;
    border-bottom: 3px solid rgb(211, 210, 210);
}

/* hamburger icon */
nav .hamburger {
    display: inline-block;
    padding: 13px 16px 9px 13px;
    float: right;
    cursor: pointer;
}

nav .hamburger:hover,
nav .hamburger.focus-visible:focus {
    outline-width: 0px;
    background: white;
    border-bottom: 3px solid rgb(211, 210, 210);
}

/* navigation list */
nav ul {
    position: absolute;
    right: 15px;
    left:  15px;
    top: 50px;
    z-index: 1;
    border-top: 2px solid rgb(211, 210, 210);
    border-bottom: 2px solid rgb(211, 210, 210);
    text-align: center;
}

nav ul li {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

nav ul li a {
    border-bottom: 1px solid rgb(211, 210, 210);
    background: whitesmoke;
    display: block;
    padding: 16px 13px;
    color: #435472;
}

nav ul li a:hover,
nav ul li a.focus-visible:focus {
    outline-width: 0;
    background: #fff;
}


/*
 * Header
*/

header {
    text-align: center;
    position: relative;
    z-index: 1;
}

header .container {
    padding-top: 45px;
    padding-bottom: 10px;
}

/* logo */
header .logo {
    margin-right: 0;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}

header .logo.wrap-out::before {
    border-radius: 100%;
}

header .logo .wrap-in {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border-width: 2px;
}

header .logo pre{
    top: 8px;
    left: 5px;
    font-size: 1.8px;
    position: absolute;
    font-family: monospace;
    text-align: initial;
    font-weight: 1000;
}

/* personal photo */
header .personal-photo {
    width: 70px;
    height: 70px;
    vertical-align: top;
    display: inline-block;
    border-radius: 50%;
}

header .personal-photo.wrap-out::before {
    border-radius: 100%;
}

header .personal-photo .wrap-in {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
    border-width: 2px;
}

header .personal-photo img {
    width: 100%;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

/* headline */
header .headline {
    margin-top: 45px;
}

.headline .wrap-in {
    padding: 20px;
    border-width: 2px;
}

header .headline h1{
    font-size: 2.2em;
    line-height: 140%;
}


/*
 * Main
*/

main .container {
    padding-top: 35px;
    padding-bottom: 35px;
}

main li {
    margin-bottom: 45px;
    line-height: 150%;
}

main li:last-of-type {
    margin-bottom: 10px;
}

main li .wrap-in {
    padding: 20px;
}

main li .wrap-in::before {
    content: '>_';
    float: left;
    width: 40px;
    font-weight: bold;
    color: grey;
}

main li .wrap-in p {
    width: calc(100% - 40px);
    float: right;
    text-align: justify;
}

main li .wrap-in::after {
    content: ' ';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}


/*
 * Footer
*/

footer .wrap-in {
    border-width: 0;
    border-top: 1px solid rgb(211, 210, 210);
    color: grey;
    text-align: center;
}

footer .wrap-in::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

footer p {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}



/*
 *
 * Collection's page
 *
*/

/*
 * Header
*/

header.collection .container {
    padding-top: 35px;
    padding-bottom: 35px;
}

header.collection .headline {
    margin-top: 0;
    text-align: left;
}

header.collection .headline h1 {
    text-decoration: underline;
}


/*
 * Main
*/

main.collection .container {
    padding-top: 0;
    padding-bottom: 0;
}

main.collection ul li .wrap-in::before {
    content: '';
    display: none;
}

/* search bar */

main.collection .search {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

main.collection .search .wrap-in {
    border-width: 1px;
}

main.collection .search input {
    width: calc(100% - 120px);
    display: inline-block;
    border: 0;
    padding: 12px;
    letter-spacing: 1px;
    font-size: 1em;
}

main.collection .search button {
    width:120px;
    border: 0;
    padding: 12px;
    cursor: pointer;
    font-size: 1em;
}

/* search keywords */

main.collection ul.search-keywords {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

main.collection ul.search-keywords li {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 7px;
}

main.collection ul.search-keywords li p.wrap-in {
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;
    border-width: 1px;
}

main.collection ul.search-keywords li p.wrap-in:hover,
main.collection ul.search-keywords li p.wrap-in.focus-visible:focus {
    background: whitesmoke;
}

.active-keyword {
    background-color: rgb(224, 230, 235);
}

/* results */

main.collection ul.search-results {
    text-align: center;
}

main.collection ul.search-results li {
    width: 100%;
    max-width: 385px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
}

main.collection ul.search-results li .wrap-in {
    height: 0px;
    padding: 0px;
    padding-bottom: calc(55% - 4px);
    display: block;
    font-weight: initial;
}

main.collection ul.search-results li .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.current .image-container::after {
    content: 'working on';
    left: -15px;
    top: 20px;
    position: absolute;
    z-index: 3;
    background: rgb(224, 230, 235);
    border: 1px solid rgb(211, 210, 210);
    padding: 3px 7px;
    font-size: 14px;
}

/* projects custom images */
/* TODO: to be removed after insertion
    into corresponding inline style element */
main.collection ul.search-results li:nth-of-type(1) .image-container{
    background-image: url('images/pax.png');
}

main.collection ul.search-results li:nth-of-type(2) .image-container{
    background-image: url('images/animal-card.png');
}

main.collection ul.search-results li:nth-of-type(3) .image-container{
    background-image: url('images/apen-design.png');
}

main.collection ul.search-results li:nth-of-type(4) .image-container{
    background-image: url('images/portfolio-design.png');
}

main.collection ul.search-results li .text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgb(224, 230, 235);
    color: #435472;
    border-top: 2px solid rgb(211, 210, 210);
    padding-right: 10px;
    padding-left: 5px;
}

main.collection ul.search-results li .text p {
    width: initial;
    float: initial;
    text-align: initial;
    display: inline-block;
    width: calc(100% - 17px);
    padding: 5px;
    vertical-align: middle;
}

.lang-indicator {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    vertical-align: middle;
}

/* language colors */
.lang-indicator.javascript {
    border: 2px solid white;
    background: #f1e05a;
}

.lang-indicator.html {
    border: 2px solid white;
    background: #e34c26;
}

.lang-indicator.css {
    border: 2px solid white;
    background: #563d7c;
}

.lang-indicator.python {
    border: 2px solid white;
    background: #3572A5;
}

.lang-indicator.markdown {
    border: 2px solid white;
    background: #ccc;
}

.lang-indicator.sql {
    border: 2px solid white;
    background: #ccc;
}

.lang-indicator.shell {
    border: 2px solid white;
    background: #89e051;
}

/* hover & focus effects */
main.collection ul.search-results li .wrap-in:hover,
main.collection ul.search-results li .wrap-in.focus-visible:focus {
    border-color: #435472;
    outline: 0;
}

main.collection ul.search-results li .wrap-in:hover .image-container::before,
main.collection ul.search-results li .wrap-in.focus-visible:focus 
    .image-container::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(216, 208, 208, 0.541);
}

main.collection ul.search-results li .wrap-in:hover::before,
main.collection ul.search-results li .wrap-in.focus-visible:focus::before {
    content: '< view >';
    position: absolute;
    top: calc(50% - 9px - 16px);
    left: calc(50% - 37.8px);
    z-index: 3;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    background: #435472;
    display: initial;
    width: initial;
    font-weight: initial;
}

main.collection ul.search-results li .wrap-in:hover .image-container::after,
main.collection ul.search-results li .wrap-in.focus-visible:focus
    .image-container::after {
    border-color: #435472;
}

main.collection ul.search-results li .wrap-in:hover .text,
main.collection ul.search-results li .wrap-in.focus-visible:focus .text {
    border-color: #435472;
    background-color: #435472;
}

main.collection ul.search-results li .wrap-in:hover .text p,
main.collection ul.search-results li .wrap-in.focus-visible:focus .text p {
    color: white;
}



/*
 *
 * skills page
 *
*/

/* results */

main.skills ul.search-results li {
    width: 45%;
    max-width: 170px;
}

main.skills ul.search-results li:nth-child(odd) {
    margin-right: 10%;
}

main.skills ul.search-results li .wrap-in {
    height: initial;
    padding: initial;
}

main.skills ul.search-results li .text {
    position: initial;
    border-top: 0;
    min-height: 58px;
}

/* hover & focus effects */ 
main.skills ul.search-results li .wrap-in:hover::before,
main.skills ul.search-results li .wrap-in.focus-visible:focus::before {
    display: none;
}



/*
 *
 * Document's page
 *
*/

header.doc .container {
    padding-top: 35px;
    padding-bottom: 35px;
}

.doc .container,
nav.doc .container, footer.doc .container {
    /* max-width:  500px; */
}

.doc .go-to-parent {
    text-align: left;
    margin-bottom: 20px;
}

.doc .go-to-parent img {
    display: inline-block;
    vertical-align: middle;

}

.doc .go-to-parent p { 
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

main.doc .jumbotron,
main.doc .points {
    width: 100%;
}


/*
 * Header
*/

header.doc .container {
    padding-top: 35px;
}

header.doc .headline {
    margin-top: 0;
    text-align: left;
}

header.doc .headline .wrap-in {
    padding-right: 20px;
}

header.doc .headline h1 {
    text-decoration: underline;
    display: inline-block;
    width: calc(100% - 30px);
    vertical-align: middle;
    margin-right: 10px;
}

.doc .lang-indicator {
    width: 20px;
    height: 20px;
}


/*
 * Main
*/

main.doc .container {
    padding-top: 0;
    padding-bottom: 0;
}

main.doc ul li .wrap-in::before {
    content: '';
    display: none;
}

main.doc section {
    margin-bottom: 25px;
}


/*
 * jumbotron section
*/

.doc .jumbotron {
    position: relative;
    z-index: 1;
}

.doc .jumbotron .screenshot a {
    display: block;
    border-bottom: 1px solid rgb(211, 210, 210);
    height: 250px;
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* TODO: remove css backgroun images */
    background-image: url(images/pax.png);
}

.jumbotron .summary {
    padding: 15px;
    text-align: justify;
}

.doc .jumbotron .wrap-in {
    border-color: rgb(211, 210, 210);
}


/*
 * points section
*/

.doc .points .wrap-in {
    padding: 15px;
    border-color: rgb(211, 210, 210);
}

.doc .points td {
    padding: 4px 7px;
    margin-bottom: 15px;
    vertical-align: top;
}

.doc .points td:not(:nth-child(1)) {
    border: 1px solid rgb(211, 210, 210);
    display: inline-block;
    margin-right: 10px;
}

.doc .points td:not(:nth-child(1)):hover,
.doc .points td:not(:nth-child(1)) a.focus-visible:focus {
    background: whitesmoke;
}

.doc .points a {
    display: block;
    margin: -4px -7px;
    padding: 4px 7px;
}

.doc .points:nth-child(4) > .wrap-in {
    min-height: 70px;
}


/*
 * details section
*/

.doc .details .wrap-in {
    padding: 20px;
    border-color: rgb(211, 210, 210);
    border-width: 1px;
}

.doc .details .writing-section {
    margin-bottom: 50px;
}

.doc .details h3 {
    margin-bottom: 20px;
    text-decoration: underline;
}

.doc .details h3:not(:first-of-type) {
    margin-top: 40px;
}

.doc .details p {
    margin-bottom: 10px;
}

.doc .details img {
    width: 100%;
    margin-bottom: 20px;
}



/*
 *
 * 404 page
 *
*/

/*
 * Header
*/

header.not-found .container {
    padding-top: 35px;
}

header.not-found .headline {
    margin-top: 0;
}


/*
 * Responsive
*/

@media screen and (min-width: 255px) {
    /* header */
    header .logo {
        margin-right: 2%;
        width: 100px;
        height: 100px;
    }
    
    header .logo .wrap-in {
        width: 100px;
        height: 100px;
    }
    
    header .logo pre{
        top: 12px;
        left: 7px;
        font-size: 2.6px;
    }
    
    header .personal-photo {
        width: 100px;
        height: 100px;
        vertical-align: top;
    }
    
    header .personal-photo .wrap-in {
        width: 100px;
        height: 100px;
    }  
}


@media screen and (min-width: 305px) {
    /* header */
    header .logo {
        margin-right: 5%;
        width: 120px;
        height: 120px;
    }
    
    header .logo .wrap-in {
        width: 120px;
        height: 120px;
    }
    
    header .logo pre{
        top: 10px;
        left: 10px;
        font-size: 3px;
    }
    
    header .personal-photo {
        width: 120px;
        height: 120px;
        vertical-align: top;
    }
    
    header .personal-photo .wrap-in {
        width: 120px;
        height: 120px;
    }   
}

@media screen and (min-width: 351px) {
    /* fix footer to bottom */
    nav {
        margin-bottom: calc(100vh - 138px);
    }

    #app-container > section {
        border: 1px solid transparent;
        min-height: calc(100vh - 138px);
        margin-top: calc(138px - 100vh);
    }
}

@media screen and (min-width: 410px) {
    /* header */
    header .logo {
        margin-right: 10%;
        width: 160px;
        height: 160px;
    }
    
    header .logo .wrap-in {
        width: 160px;
        height: 160px;
    }
    
    header .logo pre{
        top: 17px;
        left: 14.5px;
        font-size: 4px;
    }
    
    header .personal-photo {
        width: 160px;
        height: 160px;
        vertical-align: top;
    }
    
    header .personal-photo .wrap-in {
        width: 160px;
        height: 160px;
    }

    header .headline .wrap-in {
        padding: 30px;
    }

    /* collection and document pages */
    header.collection .headline .wrap-in,
    header.doc .headline .wrap-in {
        padding: 20px;
    }
}


@media screen and (min-width: 500px) {
    main.collection ul.search-results li {
        width: calc(50% - 15px);
        display: inline-block;
        vertical-align: top;
        margin-bottom: 30px;
    }

    main.collection ul.search-results li:nth-of-type(odd) {
        margin-right: 30px;
    }
    
    main.collection ul.search-results li .wrap-in {
        height: 0px;
        padding: 0px;
        padding-bottom: calc(70% - 4px);
    }    

    /* skills page */
    main.skills ul.search-results li {
        width: 30%;
        margin-right: 5% !important;
    }

    main.skills ul.search-results li:nth-child(3n) {
        margin-right: 0 !important;
    }
    
    main.skills ul.search-results li .wrap-in {
        height: initial;
        padding-bottom: initial;
    }
}


@media screen and (min-width: 700px){
    /* fix footer to bottom */
    nav {
        margin-bottom: calc(100vh - 98px);
    }

    #app-container > section {
        border: 1px solid transparent;
        min-height: calc(100vh - 98px);
        margin-top: calc(98px - 100vh);
    }

    /* nav */
    nav .container, footer .container
    /* nav.doc .container, footer.doc .container */ {
        max-width: 1290px !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    nav .container {
        position: initial;
    }

    nav .hamburger {
        display: none;
    }

    .hidden {
        display: initial;
    }

    nav ul {
        float: right;
        width: initial;
        max-width: initial;
        position: initial;
        right: initial;
        top: initial;
        z-index: initial;
        border-top: initial;
        border-bottom: initial;
        text-align: initial;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        border-bottom: initial;
        background: initial;
    }

    nav ul li a:hover,
    nav ul li a.focus-visible:focus {
        outline-width: 0px;
        border-bottom: 3px solid rgb(211, 210, 210);
    }

    /* footer */
    footer p:first-of-type {
        text-align: left;
        width: 60%;
    }

    footer p:last-of-type {
        text-align: right;
        width: 40%;
    }
}


@media screen and (min-width: 725px){
    /* nav */
    nav ul li a {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* main */    
    .doc .container {
        max-width: 700px;
    }

    .doc .jumbotron {
        max-width:  350px;
        float: right;
    }

    .doc .points {
        max-width:  300px;
    }

    .doc .points .wrap-in {
        padding: 10px 5px;
    }

    .doc .details .wrap-in {
        padding: 40px;
    }    
}

